/* 定义全局变量 */
html {
  font-size: 100px;
}
body {
  padding: 0.45rem 0;
  position: relative;
  height: 100vh;
}
img {
  vertical-align: middle;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
#main {
  height: 100%;
  overflow: hidden;
  position: relative;
}
/*头部的公用样式*/
#header {
  height: 0.45rem;
  width: 100%;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #006699;
  color: #fff;
  z-index: 999;
}
#header h4 {
  height: 0.45rem;
  padding: 0 0.45rem;
  margin: 0;
  line-height: 0.45rem;
  font-weight: normal;
  font-size: 0.18rem;
}
#header form {
  height: 0.45rem;
  padding: 0 0.45rem;
  padding-top: 0.05rem;
}
#header form input {
  background-color: #fff;
  margin: 0;
  text-align: left;
  font-size: 0.14rem;
}
#header a {
  display: block;
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  top: 0;
  line-height: 0.45rem;
  font-size: 0.18rem;
  color: #fff;
}
#header a:first-of-type {
  left: 0;
}
#header a:last-of-type {
  right: 0;
}
/*底部的公用样式*/
#footer {
  width: 100%;
  height: 0.45rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #006699;
  padding: 0.05rem 0;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25%;
}
#footer ul li.active a {
  color: #ffa500;
}
#footer ul li a {
  display: block;
  text-align: center;
  color: #fff;
}
#footer ul li a i {
  display: block;
  font-size: 0.14rem;
}
#footer ul li a span {
  font-size: 0.12rem;
}
/*搜索的公用样式*/
form {
  display: flex;
  padding: 0.1rem;
}
form .input-search {
  flex: 1;
  border-radius: 0.06rem 0 0 0.06rem;
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: 0.14rem;
  margin: 0;
}
form .btn-search {
  width: 0.6rem;
  height: 0.34rem;
  border-radius: 0 0.06rem 0.06rem 0;
}
/*主体区域*/
#main {
  background-color: #fff;
}
#main .product-list {
  background-color: #eee;
  height: 0.3rem;
}
#main .product-list .product-sort ul {
  display: flex;
}
#main .product-list .product-sort ul li {
  flex: 1;
}
#main .product-list .product-sort ul li.active a {
  color: red;
}
#main .product-list .product-sort ul li a {
  display: block;
  text-align: center;
  font-size: 0.14rem;
  color: #666;
  line-height: 0.3rem;
}
